.section_item_detail {
    width: 1245px;
    margin: 0 auto;

    .detail_top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 120px;

        &>div {
            width: calc((100% - 15px) / 2);
        }

        &>.item_detail_left {
            .item_code {
                font-size: 18px;

                span {
                    margin-left: 15px;
                    font-weight: 500;
                }
            }

            .item_img {
                margin-top: 15px;
                width: 510px;
            }

            .thumbnail_list {
                margin-top: 30px;
                width: 510px;
                display: flex;
                justify-content: space-between;

                img {
                    width: 90px;
                    height: 90px;
                    object-fit: cover;
                    object-position: center 10%;
                }
            }

            .detail_item_list {
                margin-top: 45px;

                width: 100%;

                &>p {
                    font-size: 20px;
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                .item_combo_list {
                    display: flex;

                    .item {
                        margin-right: 15px;
                        cursor: pointer;

                        img {
                            width: 195px;
                            height: 195px;
                            object-fit: cover;
                            object-position: center center;
                        }

                        .item_name {
                            font-size: 12px;
                        }

                        .item_price {
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }

                    .item:last-child {
                        margin-right: 0px;
                    }
                }
            }

            .watched_item {
                margin-top: 30px;
            }
        }

        &>.item_detail_right {
            .detail_container {
                width: 405px;
                margin: 0 auto;

                .title {
                    font-size: 30px;
                    font-weight: 500;
                }

                .item_tag_box {
                    margin-top: 15px;
                    display: flex;
                    height: 22px;

                    &>div {
                        width: 41px;
                        height: 22px;
                        font-size: 13px;
                        font-weight: bold;
                        color: white;
                        text-align: center;
                        line-height: 22px;
                    }

                    &>.best {
                        background-color: #545ADC;
                        margin-right: 7px;
                    }

                    &>.new {
                        background-color: #000;
                    }
                }

            }

            .community_box {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &>div {
                    display: flex;
                }

                &>.rating {
                    .rating_score {
                        margin-left: 10px;

                        span {
                            font-weight: bold;
                        }
                    }
                }

                &>.commu {
                    & i {
                        cursor: pointer;
                    }

                    & i:first-child {
                        color: red;
                        margin-right: 48px;
                        position: relative;
                    }

                    & i:nth-child(2) {
                        margin-right: 25px;
                    }

                    & i:first-child::after {
                        position: absolute;
                        cursor: auto;
                        content: "";
                        display: block;
                        width: 1px;
                        height: 23px;
                        right: -24px;
                        top: -3px;
                        background-color: #ccc;
                    }
                }
            }

            .price {
                margin-top: 30px;
                font-size: 20px;
                font-weight: bold;
            }

            .save {
                margin-top: 5px;
                font-size: 15px;
                font-weight: 200;
                color: #ccc;
                padding-bottom: 10px;
                box-sizing: border-box;
                border-bottom: 1px solid #ccc;
            }

            .info_box {
                display: flex;
                margin-top: 20px;
                position: relative;

                img {
                    width: 16px;
                    height: 16px;
                    display: inline-block;

                }

                .info_title {
                    font-size: 14px;
                    margin-right: 10px;
                }

                .delivery_title {
                    margin-right: 25px;
                }

                .info_text {
                    font-size: 14px;

                }

                .delivery_info>span {
                    color: #4136BF;
                    font-weight: 400;
                }

                .card_info>span {
                    color: #ccc;
                }

                .delivery_detail {
                    position: absolute;
                    right: 43px;
                    top: 3px;
                    width: 14px;
                    height: 14px;
                    border: 1px solid #ccc;
                    color: #ccc;
                    font-size: 10px;
                    text-align: center;
                    line-height: 14px;
                    box-sizing: border-box;
                    border-radius: 100px;
                    cursor: pointer;
                }
            }

            .card {
                box-sizing: border-box;
                padding-bottom: 23px;
                border-bottom: 1px solid #ccc;
            }

            .item_colors {
                margin-top: 15px;

                &>p {
                    font-size: 15px;
                    font-weight: bold;
                    color: #b0b0b0;
                }

                &>.item_color {
                    display: flex;
                    margin-top: 8px;

                    & img {
                        width: 90px;
                        height: 90px;
                        box-sizing: border-box;
                        border: 2px solid #D9D9D9;
                        cursor: pointer;
                        margin-right: 15px;
                        object-fit: cover;
                    }

                    & img:last-child {
                        margin-right: 0;
                    }
                }

            }

            .item_size {
                display: flex;
                flex-wrap: wrap;
                margin-top: 30px;

                &>p {
                    width: 100%;
                    margin-bottom: 14px;
                }

                &>div.size {
                    width: calc((100% - 40px) / 5);
                    height: 57px;
                    text-align: center;
                    line-height: 57px;
                    background-color: #fff6f8;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    cursor: pointer;
                    transition: 0.2s;
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        background-color: #FFBF00;
                    }

                    &.sizechecked {
                        background-color: #4136BF;
                        color: white;
                    }
                }
            }

            .npay {
                width: 100%;
                overflow: hidden;
                margin-top: 20px;

                img {
                    width: 64px;
                    float: left;
                    margin-right: 10px;
                }

                &>p {
                    font-size: 14px;
                    float: left;
                    line-height: 27px;
                }

                &>p.special_text {
                    float: right;
                    color: #2DB400;
                    font-weight: bold;
                }
            }

            .btnBox {
                width: 405px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                &>div {
                    height: 60px;
                    text-align: center;
                    line-height: 60px;
                    font-weight: 400;
                    border: 1px solid #bbb;
                    box-sizing: border-box;
                    user-select: none;
                    cursor: pointer;
                }

                .btnSize_chk {
                    margin-top: 20px;
                    width: 405px;
                    margin-bottom: 15px;
                }

                .btnCart {
                    width: 130px;
                }

                .btnPurchase {
                    width: 260px;
                    background-color: #4136BF;
                    color: white;
                }
            }

        }
    }

    .detail_bottom {
        width: 100%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;

        .tab_box {
            width: 100%;
            overflow: hidden;

            &>a {
                width: calc(100% / 5);
                height: 50px;
                line-height: 50px;
                float: left;
                color: #333;
                text-align: center;
                // background-color: #D9D9D9;
                background-color: #fff6f8;
                box-sizing: border-box;
                border: 1px solid #ccc;
                font-size: 18px;
                font-weight: 400;
            }

            &>a.tab_on {
                background-color: #FFBF00;
            }
        }

        .desc {
            margin-top: 30px;
            margin-bottom: 30px;
            box-sizing: border-box;
        }

        .desc_detail {
            padding-left: 30px;
            padding-right: 60px;
            font-size: 14px;
        }

        .desc_delivery {
            padding-left: 30px;
        }

        .desc_review {
            overflow: hidden;
            position: relative;

            .review_title {
                padding-left: 30px;
                box-sizing: border-box;
                line-height: 40px;
            }

            .btn_reviewList {
                position: absolute;
                right: 0;
                top: 0;
                display: block;
                width: 208px;
                height: 37px;
                background-color: #4136BF;
                text-align: center;
                color: white;
                line-height: 37px;
            }

            .review_list {
                box-sizing: border-box;
                border-top: 3px solid #333;
                border-bottom: 3px solid #333;

                & li {
                    display: flex;
                    align-items: center;
                    height: 115px;
                    border-bottom: 1px solid #333;

                    &>p {
                        display: block;
                    }

                    &>p.review_txt {
                        width: 684px;
                        margin-right: 15px;
                        padding-left: 36px;
                        box-sizing: border-box;
                    }

                    &>p.reivew_rating {
                        width: 105px;
                        margin-right: 120px;

                        &>i {
                            color: #4136BF;
                        }
                    }

                    &>p.review_date {
                        width: 90px;
                        margin-right: 15px;
                    }

                    &>p.review_id {
                        width: 90px;
                        text-align: center;
                    }

                    &>p.btnReviewDelete {
                        cursor: pointer;
                        user-select: none;
                        color: #333;
                    }

                }

                & li:last-child {
                    border-bottom: none;
                }
            }

            .btn_writeReview {
                margin-left: 1140px;
                margin-top: 15px;
                display: block;
                width: 90px;
                height: 45px;
                background-color: #4136BF;
                color: white;
                text-align: center;
                line-height: 45px;
                cursor: pointer;
                user-select: none;
            }

            .review_write_box {
                display: none;

                .review_box {
                    display: flex;

                    .review_section {
                        display: flex;
                        flex-wrap: nowrap;
                        margin-right: 15px;

                        p {
                            margin-right: 5px;
                        }
                    }

                    .review_section.rating_section {
                        i {
                            margin-top: 4px;
                            color: #4136BF;
                        }
                    }
                }

                .review_text {

                    width: calc(1245px - 15px);
                    height: 150px;
                    margin: 0 auto;
                    margin-top: 15px;
                }

                .btns_area {
                    display: flex;
                    justify-content: flex-end;

                    .review_btns {
                        margin-top: 15px;
                        display: block;
                        width: 90px;
                        height: 45px;
                        background-color: #4136BF;
                        color: white;
                        text-align: center;
                        line-height: 45px;
                        cursor: pointer;
                        user-select: none;
                        margin-right: 15px;
                    }
                }
            }
        }

        .desc_qna {
            overflow: hidden;
            position: relative;

            .qna_title_section {
                display: flex;
                flex-wrap: nowrap;
                margin-right: 15px;
                margin-top: 15px;

                p {
                    margin-right: 5px;
                }
            }

            .btn_writeQNA {
                margin-left: 1140px;
                margin-top: 15px;
                display: block;
                width: 90px;
                height: 45px;
                background-color: #4136BF;
                color: white;
                text-align: center;
                line-height: 45px;
                cursor: pointer;
                user-select: none;
            }

            .qna_write_box {
                display: none;
                margin-top: 15px;

                .qna_box {
                    display: flex;

                    .qna_section {
                        display: flex;
                        flex-wrap: nowrap;
                        margin-right: 15px;

                        p {
                            margin-right: 5px;
                        }

                        .qna_lock_label {
                            margin-left: 15px;
                        }
                    }

                }

                .qna_text {

                    width: calc(1245px - 15px);
                    height: 150px;
                    margin: 0 auto;
                    margin-top: 15px;
                }

                .btns_area {
                    display: flex;
                    justify-content: flex-end;

                    .qna_btns {
                        margin-top: 15px;
                        display: block;
                        width: 90px;
                        height: 45px;
                        background-color: #4136BF;
                        color: white;
                        text-align: center;
                        line-height: 45px;
                        cursor: pointer;
                        user-select: none;
                        margin-right: 15px;
                    }
                }
            }

            .qna_answer_box {
                display: none;
                margin-top: 15px;

                .qna_answer_text {

                    width: calc(1245px - 15px);
                    height: 150px;
                    margin: 0 auto;
                    margin-top: 15px;
                }

                .btns_area {
                    display: flex;
                    justify-content: flex-end;

                    .qna_answer_btns {
                        margin-top: 15px;
                        display: block;
                        width: 90px;
                        height: 45px;
                        background-color: #4136BF;
                        color: white;
                        text-align: center;
                        line-height: 45px;
                        cursor: pointer;
                        user-select: none;
                        margin-right: 15px;
                    }
                }
            }

            &>h1 {
                font-size: 30px;
                text-align: center;
                font-weight: 400;
            }

            &>h2 {
                font-size: 20px;
                color: #bbb;
                font-weight: 400;
                text-align: center;

                &>span {
                    color: #4136BF;
                }
            }

            .qna_title {
                padding-left: 30px;
                box-sizing: border-box;
                line-height: 40px;
            }

            .btn_qnaList {
                margin: 0 auto;
                display: block;
                width: 208px;
                height: 37px;
                border: 2px solid #4136BF;
                box-sizing: border-box;
                text-align: center;
                color: #4136BF;
                line-height: 37px;
                margin-top: 20px;
                margin-bottom: 20px;
                font-weight: 400;
            }

            .qna_list {
                box-sizing: border-box;
                border-top: 3px solid #333;
                border-bottom: 3px solid #333;

                & li {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #333;
                    flex-wrap: wrap;

                    &>p {
                        display: block;
                        height: 115px;
                        line-height: 115px;
                    }

                    &>p.qna_status {
                        width: 90px;
                        text-align: center;
                        margin-right: 15px;
                    }

                    &>.qna_text_box {
                        width: 750px;
                        box-sizing: border-box;
                        padding-left: 30px;
                        margin-right: 15px;

                        .qna_txt_title {
                            box-sizing: border-box;
                        }

                        .qna_txt_detail {
                            box-sizing: border-box;
                            font-size: 14px;
                        }

                        & i {
                            margin-left: 5px;
                            color: #4136BF;
                        }
                    }

                    &>p.qna_date {
                        width: 90px;
                        margin-right: 15px;
                    }

                    &>p.qna_id {
                        width: 195px;
                        text-align: center;
                    }

                    &>p.btnQnADelete {
                        cursor: pointer;
                        user-select: none;
                        color: #333;
                    }

                    &>p.btnQnAReply {
                        cursor: pointer;
                        user-select: none;
                        color: #333;
                    }

                    &>.reply_box {
                        width: 100%;
                        display: flex;
                        box-sizing: border-box;
                        padding-top: 30px;
                        border-top: 1px solid #ccc;
                        margin-bottom: 30px;

                        &>p.reply_status {
                            text-align: center;
                            width: 90px;
                        }

                        &>.reply_answer {
                            box-sizing: border-box;
                            padding-left: 45px;
                            color: #777;
                            font-size: 14px;

                            &>.reply_who {
                                margin-bottom: 15px;

                                font-weight: bold;
                            }
                        }
                    }
                }

                & li:last-child {
                    border-bottom: none;
                }
            }
        }

        .desc_notice {
            padding-left: 30px;

            &>span {
                font-weight: 400;
            }
        }
    }
}