* {
    margin: 0;
    padding: 0;
}

// font-family: 'Permanent Marker', cursive;


$pointColor:#FFBF00;
$mainColor: #FFFDF6;
$subColor: #4154B1;

body,
html {
    font-size: 16px;
    font-weight: 200;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #FFFDF6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.title_section {
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin-bottom: 30px;
}

.swiper {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 90px;

    .swiper-pagination-bullet {
        width: 150px;
        height: 20px;
        font-size: 14px;
        line-height: 14px;
        text-align: left;
        color: #bbb;
        background: none;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            color: blue;
        }
    }

    .vm_btns::after {
        font-weight: bold;
        color: #4136BF;
    }


    .swiper-wrapper {
        height: 94%;

        .swiper-slide {
            position: relative;
            transition: 0.25s;

            &>img {
                width: 100%;
                height: 100%;
            }

            &>.backplate {
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(#000, 0.3);
                width: 100%;
                height: 100%;
                visibility: hidden;
                opacity: 0;
                transition: 0.28s;
            }

            &>p {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 40%;
                color: white;
                font-size: 30px;
                font-weight: bold;
                text-shadow: 3px 3px 10px black;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
            }

            &>a {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 50px;
                width: 182px;
                height: 57px;
                background-color: #FFBF00;
                border-radius: 5px;
                text-align: center;
                line-height: 57px;
                font-size: 20px;
                font-weight: 400;
                color: #333;
                box-shadow: 3px 3px 15px black;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
            }
        }

        .swiper-slide:hover {

            &>.backplate {
                visibility: visible;
                opacity: 1;
            }

            &>p {
                visibility: visible;
                opacity: 1;
            }

            &>a {
                visibility: visible;
                opacity: 1;
            }
        }
    }


}





.section {
    width: 1245px;
    margin: 0 auto;
    margin-bottom: 90px;


    & .list_section {
        width: 100%;
        height: 275px;
        background-color: yellow;
    }

    & .list_md {
        height: 400px;

    }

    & .list_insta {
        height: 300px;

    }
}

.section_lookbook {
    box-sizing: border-box;
    padding-top: 15px;
    width: 100%;
    height: 1400px;
    background-color: azure;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 90px;

    & .lookbook_top {
        width: 1245px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        &>div {
            width: 615px;
            height: 615px;
            background-color: yellowgreen;
        }

        &>.lb_t_r {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;

            &>div {
                width: 300px;
                height: 300px;
            }

            & .lb_t_r_t {
                width: 615px;
                background-color: blue;
            }

            & .lb_t_r_l {
                background-color: darkgray;
            }

            & .lb_t_r_r {
                background-color: burlywood;
            }
        }
    }

    & .lookbook_display {
        width: 1245px;
        height: 670px;
        margin: 0 auto;
        background-color: cornflowerblue;
        margin-bottom: 15px;
    }
}