* {
    margin: 0;
    padding: 0;
}

// font-family: 'Permanent Marker', cursive;


$pointColor:#FFBF00;
$mainColor: #FFFDF6;
$subColor: #4154B1;

body,
html {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #FFFDF6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.title_section {
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin-bottom: 30px;
}

.swiper-vm {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 90px;

    .swiper-pagination-bullet {
        width: 150px;
        height: 20px;
        font-size: 14px;
        line-height: 14px;
        text-align: left;
        color: #bbb;
        background: none;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            color: blue;
        }
    }

    .vm_btns::after {
        font-weight: bold;
        color: #4136BF;
    }


    .swiper-wrapper-vm {
        height: 94%;

        .swiper-slide {
            position: relative;
            transition: 0.25s;

            &>img {
                width: 100%;
                height: 100%;
            }

            &>.backplate {
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(#000, 0.3);
                width: 100%;
                height: 100%;
                visibility: hidden;
                opacity: 0;
                transition: 0.28s;
            }

            &>p {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 40%;
                color: white;
                font-size: 30px;
                font-weight: bold;
                text-shadow: 3px 3px 10px black;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
            }

            &>a {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 50px;
                width: 182px;
                height: 57px;
                background-color: #FFBF00;
                border-radius: 5px;
                text-align: center;
                line-height: 57px;
                font-size: 20px;
                font-weight: 400;
                color: #333;
                box-shadow: 3px 3px 15px black;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
            }
        }

        .swiper-slide:hover {

            &>.backplate {
                visibility: visible;
                opacity: 1;
            }

            &>p {
                visibility: visible;
                opacity: 1;
            }

            &>a {
                visibility: visible;
                opacity: 1;
            }
        }
    }

}





.section {
    width: 1245px;
    margin: 0 auto;
    margin-bottom: 90px;

    &.section_best {
        position: relative;

        .swiper-button-prev {
            left: var(--swiper-navigation-sides-offset, -45px);

            &::after {
                color: black;
            }
        }

        .swiper-button-next {
            right: var(--swiper-navigation-sides-offset, -45px);

            &::after {
                color: black;
            }
        }
    }

    &.section_new {
        position: relative;

        .swiper-button-prev {
            left: var(--swiper-navigation-sides-offset, -45px);

            &::after {
                color: black;
            }
        }

        .swiper-button-next {
            right: var(--swiper-navigation-sides-offset, -45px);

            &::after {
                color: black;
            }
        }
    }


    & .list_section {
        width: 100%;
        height: 275px;
        // background-color: yellow;
    }

    & .list_md {
        height: 400px;
        display: flex;
        flex-wrap: wrap;

        &>.md_item {
            width: 195px;
            height: 400px;
            margin-right: 15px;
            transition: 0.3s;
            position: relative;
            cursor: pointer;

            &>img {
                width: 100%;
                height: 100%;
            }

            &>.md_desc {
                position: absolute;
                right: 0;
                top: 0;
                width: 282px;
                height: 400px;
                background-color: rgba(0, 0, 0, 0.3);
                box-sizing: border-box;
                padding-top: 90px;
                padding-left: 15px;
                font-weight: normal;
                opacity: 0;
                visibility: hidden;
                transition: 0.35s;

                &>p {
                    text-shadow: 3px 3px 10px black;
                    color: white;
                }

                &>a {
                    position: absolute;
                    display: block;
                    width: 105px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                    background-color: #FFBF00;
                    border-radius: 5px;
                    color: black;
                    left: 80px;
                    bottom: 58px;
                    // margin-top: 90px;
                    // margin-left: 80px;
                    box-shadow: 0px 4px 6px black;
                    font-size: 12px;
                }
            }
        }

        &>#md_on {
            width: 615px;
            height: 400px;

            &>.md_desc {
                opacity: 1;
                visibility: visible;
            }
        }

        &>.md_item:last-child {
            margin-right: 0;
        }
    }

    & .list_insta {
        height: 300px;
        overflow: hidden;
        position: relative;

        &>.list_insta_in {
            position: absolute;
            left: 0;
            top: 0;
            width: 3735px;
            display: flex;
            justify-content: space-between;
            transform: translate3d(0, 0, 0);
            animation: moveSlideshow 20s linear infinite;

            &>a {
                display: flex;
                width: 300px;
                height: 300px;
                align-items: center;
                justify-content: center;

                &>img {
                    width: 100%;
                    height: 100%;
                    transition: 0.8s;
                }
            }
        }
    }

    &>.list_best {
        width: 100%;


        &>.sw-best {
            & .swiper-slide {
                width: 300px;

                position: relative;
                transition: 0.25s;

                &>img {
                    width: 100%;
                    height: 100%;
                }

                &>.backplate {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: rgba(#000, 0.3);
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.28s;
                }

                &>span {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 45px;
                    height: 45px;
                    background-color: #FFBF00;
                    text-align: center;
                    font-weight: bold;
                    line-height: 21px;
                    z-index: 15;
                }

                &>p {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 40%;
                    color: white;
                    font-size: 12px;
                    font-weight: 300;
                    text-shadow: 3px 3px 10px black;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s;
                    text-align: center;
                }

                &>a {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 50px;
                    width: 105px;
                    height: 35px;
                    background-color: #FFBF00;
                    border-radius: 5px;
                    text-align: center;
                    line-height: 35px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #333;
                    box-shadow: 3px 3px 15px black;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s;
                }
            }

            .swiper-slide:hover {

                &>.backplate {
                    visibility: visible;
                    opacity: 1;
                }

                &>p {
                    visibility: visible;
                    opacity: 1;
                }

                &>a {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &>img {
                width: 100%;
            }
        }

    }

    &>.list_new {
        width: 100%;

        &>.sw-new {
            & .swiper-slide {
                width: 300px;
                position: relative;
                transition: 0.25s;

                &>img {
                    width: 100%;
                    height: 100%;
                }

                &>.backplate {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: rgba(#000, 0.3);
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.28s;
                }

                &>span {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 45px;
                    height: 45px;
                    background-color: #FFBF00;
                    text-align: center;
                    font-weight: bold;
                    line-height: 21px;
                    z-index: 15;
                }

                &>p {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 40%;
                    color: white;
                    font-size: 12px;
                    font-weight: 300;
                    text-shadow: 3px 3px 10px black;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s;
                    text-align: center;
                }

                &>a {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 50px;
                    width: 105px;
                    height: 35px;
                    background-color: #FFBF00;
                    border-radius: 5px;
                    text-align: center;
                    line-height: 35px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #333;
                    box-shadow: 3px 3px 15px black;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s;
                }
            }

            .swiper-slide:hover {

                &>.backplate {
                    visibility: visible;
                    opacity: 1;
                }

                &>p {
                    visibility: visible;
                    opacity: 1;
                }

                &>a {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &>img {
                width: 100%;
            }
        }

    }


}

.section_lookbook {
    box-sizing: border-box;
    padding-top: 15px;
    width: 100%;
    height: 1400px;
    background-color: azure;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 90px;

    & .lookbook_top {
        width: 1245px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        & .lb {
            overflow: hidden;

            & img {
                transition: 0.3s;
            }
        }

        & .lb:hover img {
            scale: 1.2;
            transform-origin: center center;
        }

        &>div {
            width: 615px;
            height: 615px;
            cursor: pointer;
        }

        &>.lb_t_r {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;

            &>div {
                width: 300px;
                height: 300px;
            }

            & .lb_t_r_t {
                width: 615px;
                background-color: blue;
            }

            & .lb_t_r_l {
                background-color: darkgray;
            }

            & .lb_t_r_r {
                background-color: burlywood;
            }
        }
    }

    & .lookbook_display {
        width: 1245px;
        height: 670px;
        margin: 0 auto;
        background-color: cornflowerblue;
        margin-bottom: 15px;
        position: relative;

        &>.lookbook_stand {
            position: absolute;
            left: 50%;
            top: 2%;
            transform: translateX(-50%);
            width: 237px;
            height: 638px;
        }

        &>.lookbook_item {
            opacity: 0;
            transition: 0.2s;
        }

        &>.lookbook_item1 {
            position: absolute;
            transform: translateX(-50%);
            left: 658px;
            top: 15px;
            width: 96px;
            height: 71px;
        }

        &>.lookbook_item2 {
            position: absolute;
            transform: translateX(-50%);
            left: 647px;
            top: 88px;
            width: 197px;
            height: 264px;
        }

        &>.lookbook_item3 {
            position: absolute;
            transform: translateX(-50%);
            left: 633px;
            top: 335px;
            width: 152px;
            height: 151px;
        }

        &>.lookbook_item_desc {
            position: absolute;
            opacity: 0;
            color: white;
            text-shadow: 3px 3px 10px black;
            transition: 0.3s;

            &.lookbook_item1_desc {
                right: 350px;
                top: 19px;
            }

            &.lookbook_item2_desc {
                left: 383px;
                top: 159px;
            }

            &.lookbook_item3_desc {
                right: 280px;
                top: 377px;
            }
        }

    }
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}


.btnTopArea {
    position: fixed;
    right: 15px;
    bottom: 15px;
    /* 120px */
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
    z-index: 999;

    .btn_top>a,
    .btn_CS>a {
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: white;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 45px;
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 12px;
        font-weight: bold;

        &>img {
            width: 35px;
            height: 35px;
        }

    }

    .btn_CS {
        margin-top: 15px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

.recentview_outer {
    position: fixed;
    right: 0;
    top: 180px;
    /* 120px */
    transition: 0.2s;
    visibility: visible;
    z-index: 999;
    width: 70px;
    height: 145px;
    background-color: white;
    border: 1px solid #ccc;

    p {
        font-size: 12px;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 13px;
    }

    .rlist {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .recent_item {
            width: 40px;
            height: 40px;
            margin-bottom: 15px;
    
            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}