.common_select:focus {
    outline: none;
    border: 2px solid #4136BF;
    box-sizing: border-box;
}

.welcomeSection {
    width: 615px;
    margin: 0 auto;
    position: relative;
}

.welcomeSection .welcomeBox {
    box-sizing: border-box;
    padding-top: 42px;
    text-align: center;
    margin-bottom: 15px;
}

.welcomeBox img {
    width: 100%;
    margin: 0 auto;
}

.welcome_text {
    margin-top: 15px;
    text-align: left;
    margin-bottom: 30px;
}

.btnList {
    display: flex;
    justify-content: space-between;
}

.btnList a {
    display: flex;
    width: 195px;
    height: 50px;
    background-color: #FFBF00;
    border-radius: 5px;
    border: 1px solid #555;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: 0.3s;
}

.btnList a:hover{
    background-color: #4136BF;
    color: white;
}