.section_item_detail {
  width: 1245px;
  margin: 0 auto;
}
.section_item_detail .detail_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.section_item_detail .detail_top > div {
  width: calc((100% - 15px) / 2);
}
.section_item_detail .detail_top > .item_detail_left .item_code {
  font-size: 18px;
}
.section_item_detail .detail_top > .item_detail_left .item_code span {
  margin-left: 15px;
  font-weight: 500;
}
.section_item_detail .detail_top > .item_detail_left .item_img {
  margin-top: 15px;
  width: 510px;
}
.section_item_detail .detail_top > .item_detail_left .thumbnail_list {
  margin-top: 30px;
  width: 510px;
  display: flex;
  justify-content: space-between;
}
.section_item_detail .detail_top > .item_detail_left .thumbnail_list img {
  width: 90px;
  height: 90px;
}
.section_item_detail .detail_top > .item_detail_left .detail_item_list {
  margin-top: 45px;
  width: 100%;
}
.section_item_detail .detail_top > .item_detail_left .detail_item_list > p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
.section_item_detail .detail_top > .item_detail_left .detail_item_list .item_combo_list {
  display: flex;
}
.section_item_detail .detail_top > .item_detail_left .detail_item_list .item_combo_list .item {
  margin-right: 15px;
}
.section_item_detail .detail_top > .item_detail_left .detail_item_list .item_combo_list .item img {
  width: 195px;
  height: 195px;
}
.section_item_detail .detail_top > .item_detail_left .detail_item_list .item_combo_list .item .item_name {
  font-size: 12px;
}
.section_item_detail .detail_top > .item_detail_left .detail_item_list .item_combo_list .item .item_price {
  font-size: 14px;
  font-weight: bold;
}
.section_item_detail .detail_top > .item_detail_left .detail_item_list .item_combo_list .item:last-child {
  margin-right: 0px;
}
.section_item_detail .detail_top > .item_detail_left .watched_item {
  margin-top: 30px;
}
.section_item_detail .detail_top > .item_detail_right .detail_container {
  width: 405px;
  margin: 0 auto;
}
.section_item_detail .detail_top > .item_detail_right .detail_container .title {
  font-size: 30px;
  font-weight: 500;
}
.section_item_detail .detail_top > .item_detail_right .detail_container .item_tag_box {
  margin-top: 15px;
  display: flex;
}
.section_item_detail .detail_top > .item_detail_right .detail_container .item_tag_box > div {
  width: 41px;
  height: 22px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 22px;
}
.section_item_detail .detail_top > .item_detail_right .detail_container .item_tag_box > .best {
  background-color: #545ADC;
  margin-right: 7px;
}
.section_item_detail .detail_top > .item_detail_right .detail_container .item_tag_box > .new {
  background-color: #000;
}
.section_item_detail .detail_top > .item_detail_right .community_box {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_item_detail .detail_top > .item_detail_right .community_box > div {
  display: flex;
}
.section_item_detail .detail_top > .item_detail_right .community_box > .rating .rating_score {
  margin-left: 10px;
}
.section_item_detail .detail_top > .item_detail_right .community_box > .rating .rating_score span {
  font-weight: bold;
}
.section_item_detail .detail_top > .item_detail_right .community_box > .commu i {
  cursor: pointer;
}
.section_item_detail .detail_top > .item_detail_right .community_box > .commu i:first-child {
  color: red;
  margin-right: 48px;
  position: relative;
}
.section_item_detail .detail_top > .item_detail_right .community_box > .commu i:nth-child(2) {
  margin-right: 25px;
}
.section_item_detail .detail_top > .item_detail_right .community_box > .commu i:first-child::after {
  position: absolute;
  cursor: auto;
  content: "";
  display: block;
  width: 1px;
  height: 23px;
  right: -24px;
  top: -3px;
  background-color: #ccc;
}
.section_item_detail .detail_top > .item_detail_right .price {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
.section_item_detail .detail_top > .item_detail_right .save {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 200;
  color: #ccc;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.section_item_detail .detail_top > .item_detail_right .info_box {
  display: flex;
  margin-top: 20px;
  position: relative;
}
.section_item_detail .detail_top > .item_detail_right .info_box img {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.section_item_detail .detail_top > .item_detail_right .info_box .info_title {
  font-size: 14px;
  margin-right: 10px;
}
.section_item_detail .detail_top > .item_detail_right .info_box .delivery_title {
  margin-right: 25px;
}
.section_item_detail .detail_top > .item_detail_right .info_box .info_text {
  font-size: 14px;
}
.section_item_detail .detail_top > .item_detail_right .info_box .delivery_info > span {
  color: #4136BF;
  font-weight: 400;
}
.section_item_detail .detail_top > .item_detail_right .info_box .card_info > span {
  color: #ccc;
}
.section_item_detail .detail_top > .item_detail_right .info_box .delivery_detail {
  position: absolute;
  right: 43px;
  top: 3px;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 10px;
  text-align: center;
  line-height: 14px;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
}
.section_item_detail .detail_top > .item_detail_right .card {
  box-sizing: border-box;
  padding-bottom: 23px;
  border-bottom: 1px solid #ccc;
}
.section_item_detail .detail_top > .item_detail_right .item_colors {
  margin-top: 15px;
}
.section_item_detail .detail_top > .item_detail_right .item_colors > p {
  font-size: 15px;
  font-weight: bold;
  color: #b0b0b0;
}
.section_item_detail .detail_top > .item_detail_right .item_colors > .item_color {
  display: flex;
  margin-top: 8px;
}
.section_item_detail .detail_top > .item_detail_right .item_colors > .item_color img {
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  border: 2px solid #D9D9D9;
  cursor: pointer;
  margin-right: 15px;
}
.section_item_detail .detail_top > .item_detail_right .item_colors > .item_color img:last-child {
  margin-right: 0;
}
.section_item_detail .detail_top > .item_detail_right .item_size {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.section_item_detail .detail_top > .item_detail_right .item_size > p {
  width: 100%;
  margin-bottom: 14px;
}
.section_item_detail .detail_top > .item_detail_right .item_size > div {
  width: calc((100% - 40px) / 5);
  height: 57px;
  text-align: center;
  line-height: 57px;
  background-color: #D9D9D9;
  cursor: pointer;
}
.section_item_detail .detail_top > .item_detail_right .npay {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
.section_item_detail .detail_top > .item_detail_right .npay img {
  width: 64px;
  float: left;
  margin-right: 10px;
}
.section_item_detail .detail_top > .item_detail_right .npay > p {
  font-size: 14px;
  float: left;
  line-height: 27px;
}
.section_item_detail .detail_top > .item_detail_right .npay > p.special_text {
  float: right;
  color: #2DB400;
  font-weight: bold;
}
.section_item_detail .detail_top > .item_detail_right .btnBox {
  width: 405px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section_item_detail .detail_top > .item_detail_right .btnBox > div {
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: 400;
  border: 1px solid #bbb;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}
.section_item_detail .detail_top > .item_detail_right .btnBox .btnSize_chk {
  margin-top: 20px;
  width: 405px;
  margin-bottom: 15px;
}
.section_item_detail .detail_top > .item_detail_right .btnBox .btnCart {
  width: 130px;
}
.section_item_detail .detail_top > .item_detail_right .btnBox .btnPurchase {
  width: 260px;
  background-color: #4136BF;
  color: white;
}
.section_item_detail .detail_bottom {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.section_item_detail .detail_bottom .tab_box {
  width: 100%;
  overflow: hidden;
}
.section_item_detail .detail_bottom .tab_box > a {
  width: 20%;
  height: 50px;
  line-height: 50px;
  float: left;
  color: #333;
  text-align: center;
  background-color: #D9D9D9;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: 400;
}
.section_item_detail .detail_bottom .tab_box > a.tab_on {
  background-color: #FFBF00;
}
.section_item_detail .detail_bottom .desc {
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.section_item_detail .detail_bottom .desc_detail {
  padding-left: 30px;
  padding-right: 60px;
  font-size: 14px;
}
.section_item_detail .detail_bottom .desc_delivery {
  padding-left: 30px;
}
.section_item_detail .detail_bottom .desc_notice {
  padding-left: 30px;
}
.section_item_detail .detail_bottom .desc_notice > span {
  font-weight: 400;
}

/*# sourceMappingURL=/item_detail.51d06825.css.map */